Source: usbhasp
Section: misc
Priority: optional
Maintainer: Partizand <partizand@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/sam88651/UsbHasp
Vcs-Git: https://github.com/sam88651/UsbHasp.git

Package: usbhasp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Research of usb hasp protection in Linux environment
 This project is about Usb hasp emulator on Linux. In particular on Debian based platforms.
 https://github.com/sam88651/UsbHasp
